
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff.xml
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff/storage_v2/_src_/schema/air_france_lm22.sPmy1A.meta
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff/storage_v2/_src_/schema/air_france_lm22.sPmy1A.zip
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff/storage_v2/_src_/schema/roille_sa.tNr2gQ.meta
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff/storage_v2/_src_/schema/roille_sa.tNr2gQ.zip
.idea/dataSources/fe14e9f7-7ea9-409c-ac32-81376125fcff/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/vcs.xml
.idea/workspace.xml
